=begin
#Accounts

#The Accounts API allows you to retrieve account and transaction data for Citi Customers who have authorized your app. In most cases, you'll want to request a summary of all accounts first, which will return basic account information and accountIds. Once you have this information, you can request additional account details and/or transactions.

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class CardsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API  is triggered after CMAMT interdiction in Loan Booking process.
    # This API  is triggered after CMAMT interdiction in Loan Booking process.
    # @param body LoanBookingConfirmationPreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [LoanBookingConfirmationPreLoginResponse]
    def loan_booking_confirmation_pre_login(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      data, _status_code, _headers = loan_booking_confirmation_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts)
      data
    end

    # This API  is triggered after CMAMT interdiction in Loan Booking process.
    # This API  is triggered after CMAMT interdiction in Loan Booking process.
    # @param body LoanBookingConfirmationPreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(LoanBookingConfirmationPreLoginResponse, Integer, Hash)>] LoanBookingConfirmationPreLoginResponse data, response status code and response headers
    def loan_booking_confirmation_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.loan_booking_confirmation_pre_login ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.loan_booking_confirmation_pre_login"
      end
      # resource path
      local_var_path = '/v1/prelogin/creditCardServices/offers/{offerId}/loans/bookings/confirmation'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'LoanBookingConfirmationPreLoginResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#loan_booking_confirmation_pre_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is triggered after the Loan Plan is selected and completes the Pre login Loan Booking. One of the responses to the execution of this API is the loan reference number.
    # This API is triggered after the Loan Plan is selected and completes the Pre login Loan Booking. One of the responses to the execution of this API is the loan reference number.
    # @param body LoanBookingPreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [LoanBookingPreLoginResponse]
    def loan_booking_pre_login(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      data, _status_code, _headers = loan_booking_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts)
      data
    end

    # This API is triggered after the Loan Plan is selected and completes the Pre login Loan Booking. One of the responses to the execution of this API is the loan reference number.
    # This API is triggered after the Loan Plan is selected and completes the Pre login Loan Booking. One of the responses to the execution of this API is the loan reference number.
    # @param body LoanBookingPreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(LoanBookingPreLoginResponse, Integer, Hash)>] LoanBookingPreLoginResponse data, response status code and response headers
    def loan_booking_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.loan_booking_pre_login ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.loan_booking_pre_login"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.loan_booking_pre_login"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.loan_booking_pre_login"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.loan_booking_pre_login"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.loan_booking_pre_login"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.loan_booking_pre_login"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.loan_booking_pre_login"
      end
      # resource path
      local_var_path = '/v1/prelogin/creditCardServices/offers/{offerId}/loans/bookings'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'LoanBookingPreLoginResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#loan_booking_pre_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is to retrieve the history details  of LOP/EPP -.If the transactions available exceeds the request size, you will be provided with a nextStartIndex. You may pass this nextStartIndex in your next request to get the next set of transactions. If nextStartIndex is blank, then there are no more transactions available.
    # This API is to retrieve the history details  of LOP/EPP -.If the transactions available exceeds the request size, you will be provided with a nextStartIndex. You may pass this nextStartIndex in your next request to get the next set of transactions. If nextStartIndex is blank, then there are no more transactions available.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id client id generated during consumer onboarding
    # @param account_id The account id  in encrypted format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :next_start_index The next start index that indicates the next set of records to be fetched, if there are available. Typically, this value should be populated if the first response has the value of nextStartIndex.It is not applicable for the first iteration.
    # @option opts [String] :loan_status This is a reference data field.  Please use /v1/utilities/referenceData/{loanStatus} resource to get valid value of this field with description
    # @option opts [String] :offer_type This is a reference data field.  Please use /v1/utilities/referenceData/{offerType} resource to get valid value of this field with description
    # @option opts [String] :offer_indicator This is a reference data field. Please use /v1/utilities/referenceData/{offerIndicator} resource to get valid value of this field with description
    # @return [LoanSummaryResponse]
    def partner_v1_accounts_account_id_loans_get(authorization, uuid, accept, client_id, account_id, opts = {})
      data, _status_code, _headers = partner_v1_accounts_account_id_loans_get_with_http_info(authorization, uuid, accept, client_id, account_id, opts)
      data
    end

    # This API is to retrieve the history details  of LOP/EPP -.If the transactions available exceeds the request size, you will be provided with a nextStartIndex. You may pass this nextStartIndex in your next request to get the next set of transactions. If nextStartIndex is blank, then there are no more transactions available.
    # This API is to retrieve the history details  of LOP/EPP -.If the transactions available exceeds the request size, you will be provided with a nextStartIndex. You may pass this nextStartIndex in your next request to get the next set of transactions. If nextStartIndex is blank, then there are no more transactions available.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id client id generated during consumer onboarding
    # @param account_id The account id  in encrypted format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :next_start_index The next start index that indicates the next set of records to be fetched, if there are available. Typically, this value should be populated if the first response has the value of nextStartIndex.It is not applicable for the first iteration.
    # @option opts [String] :loan_status This is a reference data field.  Please use /v1/utilities/referenceData/{loanStatus} resource to get valid value of this field with description
    # @option opts [String] :offer_type This is a reference data field.  Please use /v1/utilities/referenceData/{offerType} resource to get valid value of this field with description
    # @option opts [String] :offer_indicator This is a reference data field. Please use /v1/utilities/referenceData/{offerIndicator} resource to get valid value of this field with description
    # @return [Array<(LoanSummaryResponse, Integer, Hash)>] LoanSummaryResponse data, response status code and response headers
    def partner_v1_accounts_account_id_loans_get_with_http_info(authorization, uuid, accept, client_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.partner_v1_accounts_account_id_loans_get ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.partner_v1_accounts_account_id_loans_get"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.partner_v1_accounts_account_id_loans_get"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.partner_v1_accounts_account_id_loans_get"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.partner_v1_accounts_account_id_loans_get"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CardsApi.partner_v1_accounts_account_id_loans_get"
      end
      # resource path
      local_var_path = '/partner/v1/accounts/{accountId}/loans'.sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'nextStartIndex'] = opts[:'next_start_index'] if !opts[:'next_start_index'].nil?
      query_params[:'loanStatus'] = opts[:'loan_status'] if !opts[:'loan_status'].nil?
      query_params[:'offerType'] = opts[:'offer_type'] if !opts[:'offer_type'].nil?
      query_params[:'offerIndicator'] = opts[:'offer_indicator'] if !opts[:'offer_indicator'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'LoanSummaryResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#partner_v1_accounts_account_id_loans_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param card_id The card id  in encrypted format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate(body, authorization, uuid, accept, client_id, content_type, card_id, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_with_http_info(body, authorization, uuid, accept, client_id, content_type, card_id, opts)
      data
    end

    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param card_id The card id  in encrypted format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_with_http_info(body, authorization, uuid, accept, client_id, content_type, card_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # verify the required parameter 'card_id' is set
      if @api_client.config.client_side_validation && card_id.nil?
        fail ArgumentError, "Missing the required parameter 'card_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate"
      end
      # resource path
      local_var_path = '/v1/creditChargeCard/creditPlans/{cardId}/consolidation'.sub('{' + 'cardId' + '}', card_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation(body, authorization, uuid, accept, client_id, content_type, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_with_http_info(body, authorization, uuid, accept, client_id, content_type, opts)
      data
    end

    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_with_http_info(body, authorization, uuid, accept, client_id, content_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation"
      end
      # resource path
      local_var_path = '/v1/creditChargeCard/creditPlans/consolidation/confirmation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationPreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationPreLoginResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts)
      data
    end

    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationPreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationPreLoginResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationPreLoginResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login"
      end
      # resource path
      local_var_path = '/v1/preLogin/creditChargeCard/creditPlans/{offerId}/consolidation/confirmation'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidateConfirmationPreLoginResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_confirmation_pre_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidatePreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidatePreLoginResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts)
      data
    end

    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # This API is used to merge the multiple LOPs in to single loan with top up amount added
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidatePreLoginRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidatePreLoginResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidatePreLoginResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login"
      end
      # resource path
      local_var_path = '/v1/preLogin/creditChargeCard/creditPlans/{offerId}/consolidation'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanConsolidatePreLoginResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_consolidate_pre_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is to fetch the list of booked loans on customer's  credit cards.
    # This API is to fetch the list of booked loans on customer's  credit cards.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id his Refers to the unique id for the Pre login offer
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :offer_type This is a reference data field.  Please use /v1/utilities/referenceData/{offerType} resource to get valid value of this field with description
    # @option opts [String] :offer_indicator This is a reference data field. Please use /v1/utilities/referenceData/{offerIndicator} resource to get valid value of this field with description
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanLoansResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login(authorization, uuid, accept, client_id, offer_id, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login_with_http_info(authorization, uuid, accept, client_id, offer_id, opts)
      data
    end

    # This API is to fetch the list of booked loans on customer&#x27;s  credit cards.
    # This API is to fetch the list of booked loans on customer&#x27;s  credit cards.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id his Refers to the unique id for the Pre login offer
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :offer_type This is a reference data field.  Please use /v1/utilities/referenceData/{offerType} resource to get valid value of this field with description
    # @option opts [String] :offer_indicator This is a reference data field. Please use /v1/utilities/referenceData/{offerIndicator} resource to get valid value of this field with description
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanLoansResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanLoansResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login_with_http_info(authorization, uuid, accept, client_id, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login"
      end
      # resource path
      local_var_path = '/v1/preLogin/creditChargeCard/creditPlans/{offerId}/loans'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerType'] = opts[:'offer_type'] if !opts[:'offer_type'].nil?
      query_params[:'offerIndicator'] = opts[:'offer_indicator'] if !opts[:'offer_indicator'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanLoansResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_loans_pre_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API list the Options for Pre Login EPP offers that the customer can avail. It provides the applicable interest rate and tenors.
    # This API list the Options for Pre Login EPP offers that the customer can avail. It provides the applicable interest rate and tenors.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :product_id Product ID.This is a reference data field. Please use /v1/utilities/referenceData/{productId} resource to get valid value of this field with description.
    # @option opts [BigDecimal] :loan_amount Loan amount for easy payment plan booking.
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp(authorization, uuid, accept, client_id, offer_id, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_with_http_info(authorization, uuid, accept, client_id, offer_id, opts)
      data
    end

    # This API list the Options for Pre Login EPP offers that the customer can avail. It provides the applicable interest rate and tenors.
    # This API list the Options for Pre Login EPP offers that the customer can avail. It provides the applicable interest rate and tenors.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :product_id Product ID.This is a reference data field. Please use /v1/utilities/referenceData/{productId} resource to get valid value of this field with description.
    # @option opts [BigDecimal] :loan_amount Loan amount for easy payment plan booking.
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_with_http_info(authorization, uuid, accept, client_id, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp"
      end
      # resource path
      local_var_path = '/v1/prelogin/creditChargeCard/creditPlans/offers/{offerId}/easyPaymentPlans'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'loanAmount'] = opts[:'loan_amount'] if !opts[:'loan_amount'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is triggered after the EPP plan is selected  and completes the EPP Booking. One of the responses to the execution of this API is the transaction reference/confirmation number.
    # This API is triggered after the EPP Plan is selected and completes the EPP Booking. One of the responses to the execution of this API is the transaction reference/confirmation number.
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppBookingsRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppBookingsResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts)
      data
    end

    # This API is triggered after the EPP plan is selected  and completes the EPP Booking. One of the responses to the execution of this API is the transaction reference/confirmation number.
    # This API is triggered after the EPP Plan is selected and completes the EPP Booking. One of the responses to the execution of this API is the transaction reference/confirmation number.
    # @param body RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppBookingsRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppBookingsResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppBookingsResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings_with_http_info(body, authorization, uuid, accept, client_id, content_type, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings"
      end
      # resource path
      local_var_path = '/v1/prelogin/creditChargeCard/creditPlans/offers/{offerId}/easyPaymentPlans/bookings'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppBookingsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_bookings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # To allow customers to view the payment breakdown details.
    # This API allows the customer to view the payment breakdown details for the selected time period for prelogin offer
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param loan_amount Loan amount for easy payment plan booking.
    # @param tenor Tenure of loan in months
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :next_start_index In some cases there is more data than what can be returned in a single response. If there is additional data available a nextStartIndex will be returned. Pass the nextStartIndex in your next request to retrieve the next set of data.
    # @option opts [BOOLEAN] :binary_data_flag This refer to the flag in case of binary file is require.
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppRepaymentSchedulesResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules(authorization, uuid, accept, client_id, offer_id, loan_amount, tenor, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules_with_http_info(authorization, uuid, accept, client_id, offer_id, loan_amount, tenor, opts)
      data
    end

    # To allow customers to view the payment breakdown details.
    # This API allows the customer to view the payment breakdown details for the selected time period for prelogin offer
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param loan_amount Loan amount for easy payment plan booking.
    # @param tenor Tenure of loan in months
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :next_start_index In some cases there is more data than what can be returned in a single response. If there is additional data available a nextStartIndex will be returned. Pass the nextStartIndex in your next request to retrieve the next set of data.
    # @option opts [BOOLEAN] :binary_data_flag This refer to the flag in case of binary file is require.
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppRepaymentSchedulesResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppRepaymentSchedulesResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules_with_http_info(authorization, uuid, accept, client_id, offer_id, loan_amount, tenor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # verify the required parameter 'loan_amount' is set
      if @api_client.config.client_side_validation && loan_amount.nil?
        fail ArgumentError, "Missing the required parameter 'loan_amount' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # verify the required parameter 'tenor' is set
      if @api_client.config.client_side_validation && tenor.nil?
        fail ArgumentError, "Missing the required parameter 'tenor' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules"
      end
      # resource path
      local_var_path = '/v1/prelogin/creditChargeCard/creditPlans/offers/{offerId}/easyPaymentPlans/repaymentSchedules'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'loanAmount'] = loan_amount
      query_params[:'tenor'] = tenor
      query_params[:'nextStartIndex'] = opts[:'next_start_index'] if !opts[:'next_start_index'].nil?
      query_params[:'binaryDataFlag'] = opts[:'binary_data_flag'] if !opts[:'binary_data_flag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersEppRepaymentSchedulesResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_epp_repayment_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # To allow customers to view the payment breakdown details.
    # This API allows the customer to view the payment breakdown details.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param loan_amount Loan amount for easy payment plan booking.
    # @param tenor Tenure of loan.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :next_start_index In some cases there is more data than what can be returned in a single response. If there is additional data available a nextStartIndex will be returned. Pass the nextStartIndex in your next request to retrieve the next set of data.
    # @return [RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersLoanRepaymentSchedulesResponse]
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules(authorization, uuid, accept, client_id, offer_id, loan_amount, tenor, opts = {})
      data, _status_code, _headers = retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules_with_http_info(authorization, uuid, accept, client_id, offer_id, loan_amount, tenor, opts)
      data
    end

    # To allow customers to view the payment breakdown details.
    # This API allows the customer to view the payment breakdown details.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param offer_id This Refers to the unique id for the Pre login offer.
    # @param loan_amount Loan amount for easy payment plan booking.
    # @param tenor Tenure of loan.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @option opts [String] :next_start_index In some cases there is more data than what can be returned in a single response. If there is additional data available a nextStartIndex will be returned. Pass the nextStartIndex in your next request to retrieve the next set of data.
    # @return [Array<(RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersLoanRepaymentSchedulesResponse, Integer, Hash)>] RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersLoanRepaymentSchedulesResponse data, response status code and response headers
    def retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules_with_http_info(authorization, uuid, accept, client_id, offer_id, loan_amount, tenor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # verify the required parameter 'loan_amount' is set
      if @api_client.config.client_side_validation && loan_amount.nil?
        fail ArgumentError, "Missing the required parameter 'loan_amount' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # verify the required parameter 'tenor' is set
      if @api_client.config.client_side_validation && tenor.nil?
        fail ArgumentError, "Missing the required parameter 'tenor' when calling CardsApi.retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules"
      end
      # resource path
      local_var_path = '/v1/prelogin/creditChargeCard/creditPlans/offers/{offerId}/loans/repaymentSchedules'.sub('{' + 'offerId' + '}', offer_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'loanAmount'] = loan_amount
      query_params[:'tenor'] = tenor
      query_params[:'nextStartIndex'] = opts[:'next_start_index'] if !opts[:'next_start_index'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RetrieveCreditChargeCardFulfillmentArrangementCreditPlanOffersLoanRepaymentSchedulesResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardsApi#retrieve_credit_charge_card_fulfillment_arrangement_credit_plan_offers_loan_repayment_schedules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
[...]
