=begin
#Accounts

#The Accounts API allows you to retrieve account and transaction data for Citi Customers who have authorized your app. In most cases, you'll want to request a summary of all accounts first, which will return basic account information and accountIds. Once you have this information, you can request additional account details and/or transactions.

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class OfferAndDecisionManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API is used to perform offer acceptance for Loan Top Up Application & final submit
    # This API is used to perform offer acceptance for Loan Top Up Application & final submit
    # @param body ExecuteApplicationProcessingUnsecuredLoanTopupOfferAcceptanceAndSubmissionRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [nil]
    def execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission(body, authorization, uuid, accept, client_id, content_type, application_id, opts = {})
      execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission_with_http_info(body, authorization, uuid, accept, client_id, content_type, application_id, opts)
      nil
    end

    # This API is used to perform offer acceptance for Loan Top Up Application &amp; final submit
    # This API is used to perform offer acceptance for Loan Top Up Application &amp; final submit
    # @param body ExecuteApplicationProcessingUnsecuredLoanTopupOfferAcceptanceAndSubmissionRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission_with_http_info(body, authorization, uuid, accept, client_id, content_type, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OfferAndDecisionManagementApi.execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission"
      end
      # resource path
      local_var_path = '/v1/applicationProcessing/products/unsecuredLoans/topup/applications/{applicationId}/offerAcceptanceAndSubmission'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferAndDecisionManagementApi#execute_application_processing_unsecured_loan_topup_offer_acceptance_and_submission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to create application for  loan top-up for existing credit card customer. This is for post login function
    # This API is used to create application for  loan top-up for existing credit card customer. This is for post login function
    # @param body InitiateApplicationProcessingUnsecuredLoanTopupRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [InitiateApplicationProcessingUnsecuredLoanTopupResponse]
    def initiate_application_processing_unsecured_loan_topup(body, authorization, uuid, accept, client_id, content_type, opts = {})
      data, _status_code, _headers = initiate_application_processing_unsecured_loan_topup_with_http_info(body, authorization, uuid, accept, client_id, content_type, opts)
      data
    end

    # This API is used to create application for  loan top-up for existing credit card customer. This is for post login function
    # This API is used to create application for  loan top-up for existing credit card customer. This is for post login function
    # @param body InitiateApplicationProcessingUnsecuredLoanTopupRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(InitiateApplicationProcessingUnsecuredLoanTopupResponse, Integer, Hash)>] InitiateApplicationProcessingUnsecuredLoanTopupResponse data, response status code and response headers
    def initiate_application_processing_unsecured_loan_topup_with_http_info(body, authorization, uuid, accept, client_id, content_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling OfferAndDecisionManagementApi.initiate_application_processing_unsecured_loan_topup"
      end
      # resource path
      local_var_path = '/v1/applicationProcessing/products/unsecuredLoans/topup/applications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InitiateApplicationProcessingUnsecuredLoanTopupResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferAndDecisionManagementApi#initiate_application_processing_unsecured_loan_topup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API fetches repayment schedule details for a loan including loan amount, tenor, rates, fees, etc for unsecured loans on ready credit
    # This API fetches repayment schedule details for a loan including loan amount, tenor, rates, fees, etc for unsecured loans on ready credit
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param loan_amount Loan amount
    # @param insurance_premium_amount Insurance premium amount
    # @param fee_amount Fee amount
    # @param loan_interest_rate Loan interest rate
    # @param tenor Tenor
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [RetrieveApplicationProcessingUnsecuredLoanTopupRepaymentScheduleResponse]
    def retrieve_application_processing_unsecured_loan_topup_repayment_schedule(authorization, uuid, accept, client_id, content_type, loan_amount, insurance_premium_amount, fee_amount, loan_interest_rate, tenor, opts = {})
      data, _status_code, _headers = retrieve_application_processing_unsecured_loan_topup_repayment_schedule_with_http_info(authorization, uuid, accept, client_id, content_type, loan_amount, insurance_premium_amount, fee_amount, loan_interest_rate, tenor, opts)
      data
    end

    # This API fetches repayment schedule details for a loan including loan amount, tenor, rates, fees, etc for unsecured loans on ready credit
    # This API fetches repayment schedule details for a loan including loan amount, tenor, rates, fees, etc for unsecured loans on ready credit
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param loan_amount Loan amount
    # @param insurance_premium_amount Insurance premium amount
    # @param fee_amount Fee amount
    # @param loan_interest_rate Loan interest rate
    # @param tenor Tenor
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(RetrieveApplicationProcessingUnsecuredLoanTopupRepaymentScheduleResponse, Integer, Hash)>] RetrieveApplicationProcessingUnsecuredLoanTopupRepaymentScheduleResponse data, response status code and response headers
    def retrieve_application_processing_unsecured_loan_topup_repayment_schedule_with_http_info(authorization, uuid, accept, client_id, content_type, loan_amount, insurance_premium_amount, fee_amount, loan_interest_rate, tenor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'loan_amount' is set
      if @api_client.config.client_side_validation && loan_amount.nil?
        fail ArgumentError, "Missing the required parameter 'loan_amount' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'insurance_premium_amount' is set
      if @api_client.config.client_side_validation && insurance_premium_amount.nil?
        fail ArgumentError, "Missing the required parameter 'insurance_premium_amount' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'fee_amount' is set
      if @api_client.config.client_side_validation && fee_amount.nil?
        fail ArgumentError, "Missing the required parameter 'fee_amount' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'loan_interest_rate' is set
      if @api_client.config.client_side_validation && loan_interest_rate.nil?
        fail ArgumentError, "Missing the required parameter 'loan_interest_rate' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # verify the required parameter 'tenor' is set
      if @api_client.config.client_side_validation && tenor.nil?
        fail ArgumentError, "Missing the required parameter 'tenor' when calling OfferAndDecisionManagementApi.retrieve_application_processing_unsecured_loan_topup_repayment_schedule"
      end
      # resource path
      local_var_path = '/v1/applicationProcessing/products/unsecuredLoans/topup/repaymentSchedule'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'loanAmount'] = loan_amount
      query_params[:'insurancePremiumAmount'] = insurance_premium_amount
      query_params[:'feeAmount'] = fee_amount
      query_params[:'loanInterestRate'] = loan_interest_rate
      query_params[:'tenor'] = tenor

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'RetrieveApplicationProcessingUnsecuredLoanTopupRepaymentScheduleResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferAndDecisionManagementApi#retrieve_application_processing_unsecured_loan_topup_repayment_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to update a saved Loan top-up application & do background screening
    # This API is used to update a saved Loan top-up application & do background screening
    # @param body UpdateApplicationProcessingUnsecuredLoanTopupBackgroundScreeningRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [UpdateApplicationProcessingUnsecuredLoanTopupBackgroundScreeningResponse]
    def update_application_processing_unsecured_loan_topup_background_screening(body, authorization, uuid, accept, client_id, content_type, application_id, opts = {})
      data, _status_code, _headers = update_application_processing_unsecured_loan_topup_background_screening_with_http_info(body, authorization, uuid, accept, client_id, content_type, application_id, opts)
      data
    end

    # This API is used to update a saved Loan top-up application &amp; do background screening
    # This API is used to update a saved Loan top-up application &amp; do background screening
    # @param body UpdateApplicationProcessingUnsecuredLoanTopupBackgroundScreeningRequest
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(UpdateApplicationProcessingUnsecuredLoanTopupBackgroundScreeningResponse, Integer, Hash)>] UpdateApplicationProcessingUnsecuredLoanTopupBackgroundScreeningResponse data, response status code and response headers
    def update_application_processing_unsecured_loan_topup_background_screening_with_http_info(body, authorization, uuid, accept, client_id, content_type, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_background_screening"
      end
      # resource path
      local_var_path = '/v1/applicationProcessing/products/unsecuredLoans/topup/applications/{applicationId}/backgroundScreening'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'UpdateApplicationProcessingUnsecuredLoanTopupBackgroundScreeningResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferAndDecisionManagementApi#update_application_processing_unsecured_loan_topup_background_screening\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This API is used to update a saved Loan top-up application and in principle approval
    # This API is used to update a saved Loan top-up application and in principle approval
    # @param body RequestedLoanTopupDecision
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [UpdateApplicationProcessingUnsecuredLoanTopupInPrincipalApprovalResponse]
    def update_application_processing_unsecured_loan_topup_in_principal_approval(body, authorization, uuid, accept, client_id, content_type, application_id, opts = {})
      data, _status_code, _headers = update_application_processing_unsecured_loan_topup_in_principal_approval_with_http_info(body, authorization, uuid, accept, client_id, content_type, application_id, opts)
      data
    end

    # This API is used to update a saved Loan top-up application and in principle approval
    # This API is used to update a saved Loan top-up application and in principle approval
    # @param body RequestedLoanTopupDecision
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;.
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id Client ID generated during application registration.
    # @param content_type application/json
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(UpdateApplicationProcessingUnsecuredLoanTopupInPrincipalApprovalResponse, Integer, Hash)>] UpdateApplicationProcessingUnsecuredLoanTopupInPrincipalApprovalResponse data, response status code and response headers
    def update_application_processing_unsecured_loan_topup_in_principal_approval_with_http_info(body, authorization, uuid, accept, client_id, content_type, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # verify the required parameter 'content_type' is set
      if @api_client.config.client_side_validation && content_type.nil?
        fail ArgumentError, "Missing the required parameter 'content_type' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OfferAndDecisionManagementApi.update_application_processing_unsecured_loan_topup_in_principal_approval"
      end
      # resource path
      local_var_path = '/v1/applicationProcessing/products/unsecuredLoans/topup/applications/{applicationId}/inPrincipleApprovals'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'Content-Type'] = content_type
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'UpdateApplicationProcessingUnsecuredLoanTopupInPrincipalApprovalResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferAndDecisionManagementApi#update_application_processing_unsecured_loan_topup_in_principal_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
