=begin
#Onboarding

#The Onboarding API allows you to initiate the basic account opening process for new customers. The resources allow you to present eligible products, send applications for screening and submit a new application for one or more products. The resources also allow you to submit supporting documents. Application status can be checked at any point in the process, with decisioning happening in real time.

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.29
=end

module SwaggerClient
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check Supplementary Application Status
    # This API is used to check the status of the supplementary application.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id client id generated during consumer on-boarding
    # @param application_id This refers to Unique identifier for the application.
    # @param date_of_birth Applicant&#x27;s date of birth in  ISO 8601 date format YYYY-MM-DD
    # @param mother_maiden_name Mother&#x27;s maiden name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [SupplementaryCardApplicationStatusInquiryResponse]
    def supplementary_card_application_status_inquiry(authorization, uuid, accept, client_id, application_id, date_of_birth, mother_maiden_name, opts = {})
      data, _status_code, _headers = supplementary_card_application_status_inquiry_with_http_info(authorization, uuid, accept, client_id, application_id, date_of_birth, mother_maiden_name, opts)
      data
    end

    # Check Supplementary Application Status
    # This API is used to check the status of the supplementary application.
    # @param authorization The most recent Authorization token. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ&#x3D;&#x3D;
    # @param uuid 128 bit random UUID generated uniquely for every request.
    # @param accept Content-Type that are acceptable for the response.
    # @param client_id client id generated during consumer on-boarding
    # @param application_id This refers to Unique identifier for the application.
    # @param date_of_birth Applicant&#x27;s date of birth in  ISO 8601 date format YYYY-MM-DD
    # @param mother_maiden_name Mother&#x27;s maiden name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_details This field is used to capture device,browser and network information. Refer the developer portal for more information.These are the fields which will be passed as part of the header devicePrint,deviceTokenCookie,userIpAddress,userAgent,hardwareId,simId,deviceModel,deviceName,deviceOsName,deviceOsVersion,multitaskingSupportFlag,languageSupport,wifiMacAddress,cellTowerId,locationAreaCode,rsaApplicationKey,wapClientId,mobileCarrierCode,mobileCountryCode,osId,geoLongitude,geoLatitude,geoHorizontalAccuracy,geoAltitude,geoAltitudeAccuracy,geoSpeed,geoTimestamp,geoStatus,basicServiceSetId,signalStrength,wifiChannel,serviceSetId
    # @return [Array<(SupplementaryCardApplicationStatusInquiryResponse, Integer, Hash)>] SupplementaryCardApplicationStatusInquiryResponse data, response status code and response headers
    def supplementary_card_application_status_inquiry_with_http_info(authorization, uuid, accept, client_id, application_id, date_of_birth, mother_maiden_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.supplementary_card_application_status_inquiry ...'
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # verify the required parameter 'date_of_birth' is set
      if @api_client.config.client_side_validation && date_of_birth.nil?
        fail ArgumentError, "Missing the required parameter 'date_of_birth' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # verify the required parameter 'mother_maiden_name' is set
      if @api_client.config.client_side_validation && mother_maiden_name.nil?
        fail ArgumentError, "Missing the required parameter 'mother_maiden_name' when calling UsersApi.supplementary_card_application_status_inquiry"
      end
      # resource path
      local_var_path = '/v1/onboarding/supplementary/applications/{applicationId}/status'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dateOfBirth'] = date_of_birth
      query_params[:'motherMaidenName'] = mother_maiden_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Authorization'] = authorization
      header_params[:'uuid'] = uuid
      header_params[:'Accept'] = accept
      header_params[:'client_id'] = client_id
      header_params[:'clientDetails'] = opts[:'client_details'] if !opts[:'client_details'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SupplementaryCardApplicationStatusInquiryResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#supplementary_card_application_status_inquiry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
